@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Herr+Von+Muellerhoff&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 62.5%;
}

::-moz-selection {
  background-color: #3a86ff;
}

::selection {
  background-color: #3a86ff;
}

header {
  height: 100vh;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.1))), url("../images/hero.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)), url("../images/hero.jpg");
  background-size: 100% 100%;
  background-position: center;
}

#mobile-nav {
  height: 100vh;
  width: 100%;
  top: 0%;
  left: 0%;
  right: 0%;
  position: fixed;
  background-color: #000000;
  z-index: 8;
  overflow: hidden;
  -webkit-clip-path: circle(0.4% at 100% 0);
          clip-path: circle(0.4% at 100% 0);
  -webkit-transition: -webkit-clip-path 0.8s ease;
  transition: -webkit-clip-path 0.8s ease;
  transition: clip-path 0.8s ease;
  transition: clip-path 0.8s ease, -webkit-clip-path 0.8s ease;
}

#mobile-nav .mobile__container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#mobile-nav .mobile__container a {
  font-size: 5rem;
  margin: 4rem 0;
  text-decoration: none;
  color: #FFC600;
  padding: 0rem 3rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 1rem;
}

#mobile-nav .mobile__container a::after {
  content: '';
  height: 0.5rem;
  width: 20%;
  background-color: #FFC600;
  display: block;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

#mobile-nav .mobile__container a:hover::after {
  width: 100%;
}

#mobile-nav .mobile__container a:hover {
  background-color: #212121;
}

#mobile-nav .cross {
  position: absolute;
  top: 4%;
  right: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

#mobile-nav .cross span {
  margin: 0.2rem;
  padding: 0.1rem 2rem;
  background-color: #ffffff;
  -webkit-transform-origin: center;
          transform-origin: center;
}

#mobile-nav .cross span:nth-child(1) {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

#mobile-nav .cross span:nth-child(2) {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}

#mobile-nav.open {
  -webkit-clip-path: circle(200% at 100% 0);
          clip-path: circle(200% at 100% 0);
}

#nav-section {
  height: 10%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#nav-section a {
  text-decoration: none;
  color: #ffffff;
  text-shadow: 3px 2px 3px #000000;
  letter-spacing: 0.1rem;
}

#nav-section nav {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nav-section nav .logo {
  width: 30%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 4rem;
}

#nav-section nav .logo h2 {
  font-weight: 600;
  color: #FFC600;
  text-shadow: 2px 2px 3px #000000;
}

#nav-section nav .nav__links {
  height: 100%;
  width: 45%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 3rem;
}

#nav-section nav .nav__links a::after {
  content: '';
  height: 0.3rem;
  display: block;
  width: 2rem;
  background-color: #ffffff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#nav-section nav .nav__links a:hover::after {
  width: 100%;
}

#nav-section nav .nav__links img {
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
  cursor: pointer;
}

.humberger {
  height: 100%;
  width: 20%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
  z-index: 4;
  display: none;
}

.humberger span {
  z-index: 15;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  cursor: pointer;
  margin: 0.3rem;
  padding: 0.2rem 2.5rem;
  background-color: #ffffff;
  display: block;
}

#nav-section.sticky {
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  z-index: 5;
  background-color: #6140c8;
}

#header-section {
  height: 90%;
  width: 100%;
}

#header-section .header__container {
  height: 100%;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header-section .header__container h1 {
  text-shadow: 2px 2px 10px #000000;
  color: #FFC600;
  font-family: 'Dancing Script', cursive;
  font-size: 15rem;
  -webkit-animation: animate 1s linear;
          animation: animate 1s linear;
}

#header-section .header__container p {
  letter-spacing: 0.1rem;
  font-size: 3rem;
  width: 60%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 3px 3px #000000;
  -webkit-animation: animate 1s linear;
          animation: animate 1s linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

main {
  background-image: linear-gradient(45deg, #34247A, #5940A8);
}

#timer {
  height: 30vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#timer .timer__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  height: 70%;
  width: 80%;
  border-radius: 3rem;
  background-color: #FFC600;
}

#timer .timer__container .offer-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#timer .timer__container .offer-text h3 {
  width: 90%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  font-size: 3rem;
  font-weight: 500;
}

#timer .timer__container .offer-text h3 .text-1 {
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
  width: 100%;
  color: #ffffff;
}

#timer .timer__container .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

#timer .timer__container .time h3 {
  font-size: 9rem;
  letter-spacing: 1rem;
  font-weight: 400;
  z-index: 2;
  text-shadow: 2px 3px 2px #000000;
  color: #ffffff;
}

#timer .timer__container .time img {
  height: 45rem;
  position: absolute;
  z-index: 1;
  top: -30%;
  -webkit-transform: rotateZ(20deg);
          transform: rotateZ(20deg);
  right: 0%;
}

#special-flavour {
  height: 55vh;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

#special-flavour h1 {
  position: absolute;
  left: 10%;
  top: 0%;
  color: #FFC600;
  font-size: 4rem;
  display: block;
  -webkit-transform: translateY(-15%);
          transform: translateY(-15%);
  font-weight: 300;
}

#special-flavour .flavour__container {
  width: 80%;
  height: 80%;
  border-radius: 1rem;
  background-color: #F654AE;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 3rem 6rem;
  grid-gap: 4rem;
}

#special-flavour .flavour__container figure {
  height: 100%;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #E6489F;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

#special-flavour .flavour__container figure:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#special-flavour .flavour__container figure img {
  height: 60%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#special-flavour .flavour__container figure h3.name {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  color: #ffffff;
}

#special-flavour .flavour__container figure h4 {
  font-size: 1.8rem;
  font-weight: 500;
}

#special-flavour .flavour__container figure h4 .cross-price {
  text-decoration: line-through;
}

#special-flavour .flavour__container figure h4 .now-price {
  color: #ffffff;
}

#special-flavour .flavour__container figure button {
  padding: 0.2rem 2rem;
  margin-top: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  border: none;
  background-color: #FFC600;
  font-size: 1.8rem;
}

#featured {
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.featured__container {
  height: 100%;
  width: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  grid-gap: 4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured__container figure {
  height: 80%;
  width: 100%;
  border-radius: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
  background-color: #F654AE;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured__container figure .part__1 {
  padding-left: 3rem;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 2;
}

.featured__container figure .part__1 h2.name {
  font-size: 6rem;
  font-weight: 400;
  color: #ffffff;
  position: absolute;
  top: 10%;
  font-weight: 300;
}

.featured__container figure .part__1 p.desc {
  font-weight: 300;
  font-size: 3rem;
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
}

.featured__container figure .part__1 button {
  width: 30%;
  font-size: 2rem;
  padding: 0.4rem 0rem;
  border-radius: 0.5rem;
  -webkit-transform: translateY(15%);
          transform: translateY(15%);
  cursor: pointer;
  border: none;
  background-color: #FFC600;
}

.featured__container figure .part__2 {
  position: relative;
  z-index: 1;
}

.featured__container figure .part__2 img {
  -webkit-transform: translateY(-10%) rotateZ(30deg);
          transform: translateY(-10%) rotateZ(30deg);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.featured__container figure:hover .part__2 img {
  -webkit-transform: translateY(-10%) rotateZ(30deg) scale(1.1);
          transform: translateY(-10%) rotateZ(30deg) scale(1.1);
}

#stick {
  height: 100vh;
  margin-top: 10vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
}

#stick::before {
  top: 0%;
  left: 10%;
  content: 'Yummy Sticks!';
  font-size: 4rem;
  position: absolute;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  color: #FFC600;
  font-weight: 300;
}

.stick__container {
  width: 80%;
  height: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  background-color: #F654AE;
  border-radius: 1rem;
  padding: 2rem;
  grid-gap: 2rem;
}

.stick__container figure {
  height: 100%;
  width: 100%;
  background-color: #E6489F;
  border-radius: 1rem;
  padding-bottom: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.stick__container figure h3.name {
  font-size: 2.5rem;
  font-weight: 500;
  color: #ffffff;
}

.stick__container figure h4 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.stick__container figure h4 .cross-price {
  text-decoration: line-through;
}

.stick__container figure h4 .price-now {
  color: #ffffff;
}

.stick__container figure button {
  border-radius: 0.5rem;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.3rem 1rem;
  background-color: #FFC600;
}

.stick__container figure img {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.stick__container figure:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#why {
  height: 40vh;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

#why::before {
  content: 'Why Frozen Feast?';
  position: absolute;
  font-size: 4rem;
  top: 0%;
  left: 10%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  color: #FFC600;
  font-weight: 300;
}

.why__container {
  height: 90%;
  width: 80%;
  display: -ms-grid;
  display: grid;
  border-radius: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding: 5rem;
  grid-gap: 3rem;
  background-color: #FEB302;
}

.why__container figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 1rem;
  background-color: #ffffff;
  text-align: center;
  padding: 1rem;
}

.why__container figure img {
  height: 18rem;
}

.why__container figure h2 {
  margin: 2rem 0;
  font-size: 2rem;
  font-weight: 500;
}

footer {
  background-color: #523CA5;
  height: 30vh;
  width: 100%;
}

footer .footer__container {
  padding: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer__container .part__1 {
  height: 100%;
  width: 100%;
  padding-top: 2rem;
}

footer .footer__container .part__1 h1 {
  font-size: 3rem;
  color: #FFC600;
  font-weight: 500;
}

footer .footer__container .part__1 p {
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 2rem;
}

footer .footer__container .part__1 h3 {
  font-size: 1.8rem;
  font-weight: 400;
  color: #FFC600;
}

footer .footer__container .part__2 h2 {
  font-size: 3rem;
  color: #FFC600;
  font-weight: 500;
}

footer .footer__container .part__2 .social__links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

footer .footer__container .part__2 .social__links div {
  margin: 2rem 0;
}

footer .footer__container .part__2 .social__links div img {
  height: 6rem;
  cursor: pointer;
  fill: #523CA5;
}
/*# sourceMappingURL=main.css.map */