#featured {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.featured__container {
  height: 100%;
  width: 80%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 4rem;
  justify-content: center;
  align-items: center;
  figure {
    height: 80%;
    width: 100%;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 70% 30%;
    background-color: #F654AE;
    justify-content: center;
    align-items: center;
    .part__1 {
      padding-left: 3rem;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
      position: relative;
      z-index: 2;
      h2.name {
        font-size: 6rem;
        font-weight: 400;
        color: #ffffff;
        position: absolute;
        top: 10%;
        font-weight: 300;
      }
      p.desc {
        font-weight: 300;
        font-size: 3rem;
        transform: translateY(-10%);
      }
      button {
        width: 30%;
        font-size: 2rem;
        padding: 0.4rem 0rem;
        border-radius: 0.5rem;
        transform: translateY(15%);
        cursor: pointer;
        border: none;
        background-color: #FFC600;
      }
    }
    .part__2 {
      position: relative;
      z-index: 1;
      img {
        transform: translateY(-10%) rotateZ(30deg);
        transition: all 0.5s ease;
      }
    }
    &:hover .part__2 img {
      transform: translateY(-10%) rotateZ(30deg) scale(1.1);
    }
  }
}

@media screen and (max-width: 1550px) {
  .featured__container {
    figure {
      .part__2 {
        img {
          transform: translateX(-10%) translateY(-15%) rotateZ(30deg);
        }
      }
      &:hover .part__2 img {
        transform: translateX(-10%) translateY(-15%) rotateZ(30deg) scale(1.1);
      }
    }
  }
}

@media screen and (max-width: 1180px) {
  .featured__container {
    figure {
      .part__2 {
        img {
          transform: translateX(-20%) translateY(-15%) rotateZ(30deg);
        }
      }
      &:hover .part__2 img {
        transform: translateX(-20%) translateY(-15%) rotateZ(30deg) scale(1.1);
      }
    }
  }
}

@media screen and (max-width: 1038px) {
  .featured__container {
    figure {
        .part__1 {
        button {
          font-size: 3rem;
        }
      }
      .part__2 {
        img {
          height: 60rem;
          transform: translateX(-15%) translateY(-15%) rotateZ(30deg);
        }
      }
      &:hover .part__2 img {
        transform: translateX(-15%) translateY(-15%) rotateZ(30deg) scale(1.1);
      }
    }
  }
}

@media screen and (max-width: 618px) {
  .featured__container {
    figure {
      .part__1 {
        h2.name {
          font-size: 4rem;
        }
        p.desc {
          font-size: 3rem;
        }
        button {
          width: 40%;
        }
      }
      .part__2 {
        img {
          transform: translateX(-20%) translateY(-15%) rotateZ(30deg);
        }
      }
      &:hover .part__2 img {
        transform: translateX(-20%) translateY(-15%) rotateZ(30deg) scale(1.1);
      }
    }
  }
}

@media screen and (max-width: 450px) {
  #featured {
    height: 150vh;
  }
  .featured__container {
    figure {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      .part__1 {
        margin: 0;
        padding: 0;
        text-align: center;
        justify-content: center;
        align-items: center;
        h2.name {
          top: 0%;
          transform: translateY(-40%);
        }
        p.desc {
          font-weight: 300;
          font-size: 2.5rem;
          transform: translateY(-10%);
        }
      }
      .part__2 {
        position: relative;
        z-index: 1;
        img {
          transform: translateY(-10%) rotateZ(30deg);
          transition: all 0.5s ease;
        }
      }
      &:hover .part__2 img {
        transform: none;
      }
    }
  }
}

@media screen and (max-width: 868px) {
  #featured {
    height: auto;
  }
  .featured__container {
    figure {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      padding: 5rem 0;
      .part__1 {
        margin: 0;
        padding: 0;
        text-align: center;
        justify-content: center;
        align-items: center;
        h2.name {
          top: 0%;
          transform: translateY(-100%);
        }
        p.desc {
          font-weight: 300;
          font-size: 2.5rem;
          transform: translateY(-10%);
        }
      }
      .part__2 {
        position: relative;
        z-index: 1;
        img {
          transform: translateY(-10%) rotateZ(30deg);
          transition: all 0.5s ease;
        }
      }
      &:hover .part__2 img {
        transform: none;
      }
    }
  }
}
