#stick {
  height: 100vh;
  margin-top: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  &::before {
    top: 0%;
    left: 10%;
    content: 'Yummy Sticks!';
    font-size: 4rem;
    position: absolute;
    transform: translateY(-100%);
    color: #FFC600;
    font-weight: 300;
  }
}

.stick__container {
  width: 80%;
  height: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #F654AE;
  border-radius: 1rem;
  padding: 2rem;
  grid-gap: 2rem;
  figure {
    height: 100%;
    width: 100%;
    background-color: #E6489F;
    border-radius: 1rem;
    padding-bottom: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h3.name {
      font-size: 2.5rem;
      font-weight: 500;
      color: #ffffff;
    }
    h4 {
      font-size: 1.5rem;
      font-weight: 500;
      margin-bottom: 0.5rem;
      .cross-price {
        text-decoration: line-through;
      }
      .price-now {
        color: #ffffff;
      }
    }
    button {
      border-radius: 0.5rem;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
      padding: 0.3rem 1rem;
      background-color: #FFC600;
    }
    img {
      transition: 0.5s ease;
    }
    &:hover img {
      transform: scale(1.1);
    }
  }
}

////////////////////////
// Media Queries

@media screen and (max-width: 1500px) {
  #stick {
    height: 180vh;
  }
  .stick__container {
    grid-template-columns: repeat(3, 1fr);
    figure {
      h3.name {
        font-size: 3rem;
        margin: 1rem 0;
      }
      h4 {
        font-size: 2rem;
        margin: 1rem 0;
      }
      button {
        font-size: 2rem;
        margin: 1rem 0;
      }
    }
  }
}

@media screen and (max-width: 1180px) {
  #stick {
    height: 220vh;
  }
  .stick__container {
    grid-template-columns: repeat(2, 1fr);
    figure {
      padding: 0;
      h3.name {
        font-size: 4rem;
      }
      h4 {
        font-size: 2.5rem;
      }
      button {
        font-size: 3rem;
        margin: 1rem 0;
      }
    }
  }
}

@media screen and (max-width: 950px) {
  #stick {
    height: auto;
    margin-bottom: 15vh;
  }
  .stick__container {
    grid-template-columns: repeat(1, 1fr);
    figure {
      padding: 5rem;
      h3.name {
        font-size: 5rem;
      }
      h4 {
        font-size: 3rem;
      }
      button {
        font-size: 4rem;
        margin: 1rem 0;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .stick__container {
    grid-template-columns: repeat(1, 1fr);
    figure {
      width: 90%;
      height: 100%;
    }
  }
}

@media screen and (max-width: 390px) {
  .stick__container {
    figure {
      width: 80%;
      height: 100%;
    }
  }
} 

@media screen and (max-width: 370px) {
  .stick__container {
    figure {
      width: 77%;
    }
  }
} 

@media screen and (max-width: 360px) {
  .stick__container {
    figure {
      width: 79%;
    }
  }
} 

@media screen and (max-width: 350px) {
  .stick__container {
    figure {
      width: 73%;
    }
  }
} 

@media screen and (max-height: 950px) {
  #stick {
    height: auto;
    margin-bottom: 15vh;
  }
}

