#why {
  height: 40vh;
  width: 100%;
  justify-content: center;
  align-content: center;
  display: flex;
  position: relative;
  &::before {
    content: 'Why Frozen Feast?';
    position: absolute;
    font-size: 4rem;
    top: 0%;
    left: 10%;
    transform: translateY(-100%);
    color: #FFC600;
    font-weight: 300;
  }
}

.why__container {
  height: 90%;
  width: 80%;
  display: grid;
  border-radius: 1rem;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, 1fr);
  padding: 5rem;
  grid-gap: 3rem;
  background-color: #FEB302;
  figure {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    border-radius: 1rem;
    background-color: #ffffff;
    text-align: center;
    padding: 1rem;
    img {
      height: 18rem;
    }
    h2 {
      margin: 2rem 0;
      font-size: 2rem;
      font-weight: 500;
    }
  }
}

@media screen and (max-width: 1180px) {
  #why {
    height: 45vh;
    width: 100%;
  }
  .why__container {
    height: 80%;
  }
}

@media screen and (max-width: 950px) {
  .why__container {
    figure {
      h2 {
        font-size: 2.5rem;
      }
    }
  }
}

@media screen and (max-width: 780px) {
  #why {
    height: 70vh;
  }
  .why__container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 370px) {
  #why {
    height: 60vh;
  }
}

@media (max-height: 950px) {
  #why {
   height: 80vh;
  }
}

@media (max-height: 700px) {
  #why {
   height: 100vh;
  }
}

@media (max-height: 628px) {
  #why {
   height: 110vh;
  }
}

@media (max-height: 560px) {
  #why {
   height: 130vh;
  }
}

@media (max-height: 500px) {
  #why {
   margin-top: 30vh;
   height: 150vh;
  }
}

@media (max-height: 440px) {
  #why {
   height: 160vh;
  }
}

@media (max-height: 402px) {
  #why {
   height: 180vh;
  }
}

@media (max-height: 348px) {
  #why {
   height: 190vh;
  }
}

@media (max-height: 324px) {
  #why {
   height: 210vh;
  }
}

@media (max-height: 298px) {
  #why {
   height: 230vh;
  }
}

@media (max-height: 270px) {
  #why {
   height: 260vh;
  }
}

@media (max-height: 252px) {
  #why {
    margin-top: 40vh;
   height: 280vh;
  }
}

@media (max-height: 222px) {
  #why {
   height: 300vh;
  }
}